@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

$font-min: 16px;
$font-desired: 2.6vh;
$font-max: 32px;

$icon-desired: 5.5vh;
$icon-max: 96px;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e2e;
  color: #ccc;
  font-family: 'Space Mono', monospace;
  width: 100%;
  font-size: clamp($font-min, $font-desired, $font-max);
  position: fixed;
  height: 100dvh;
}

.socials {
  margin-top: 10px;
}

.social-icon {
  font-size: clamp($font-min, $icon-desired, $icon-max);
}

a {
  color: #ccc;
  text-decoration: none;
  transition: color .3s ease-in-out;

  :hover {
    color: #a6fbb2;
    transition: color .3s ease-in-out;
  }
}

.ii {
  width: 20vh;
  height: 20vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #1e1e2e;
  border-radius: 2vh;
  box-shadow: -12px -12px 28px #27273b73, 12px 12px 20px #12121c73;
}

.container {
  display: flex;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

.main {
  text-align: left;
  line-height: 1.2;
  margin: 20px;
}

.wave {
  position: absolute;
  top: 0;
  max-width: 140vw;
  max-height: 140vh;
}

.wave1 {
  left: 0;
  transform: rotate(-45deg) translate(-30%, -80%);
}

.wave2 {
  right: 0;
  transform: rotate(45deg) translate(50%, -90%);
}
