@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

$font-min: 16px;
$font-desired: calc((2.6vh + 8vw) / 2);
$font-max: 32px;

$icon-min: 50px;
$icon-desired: calc((3.25vh + 10vw) / 2);
$icon-max: 96px;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e2e;
  color: #ccc;
  font-family: 'Space Mono', monospace;
  width: 100%;
  font-size: clamp($font-min, $font-desired, $font-max);
  position: fixed;
  height: 100dvh;
}

.socials {
  margin: 10px 0 4vh;
}

.social-icon {
  width: clamp($icon-min, $icon-desired, $icon-max);
}

a {
  color: #ccc;
  text-decoration: none;
  transition: color .45s ease-in-out;

  :hover {
    color: #a6fbb2;
    transition: color .45s ease-in-out;
  }
}

a.icon {
  margin-right: 2vw;
}

.container {
  display: flex;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
}

.main {
  text-align: left;
  line-height: 1.2;
  margin: 20px;
}

.wave {
  position: absolute;
  top: 0;
  max-width: 140vw;
  max-height: 140vh;
}

.wave1 {
  left: 0;
  transform: rotate(-45deg) translate(-30%, -80%);
}

.wave2 {
  right: 0;
  transform: rotate(45deg) translate(50%, -90%);
}
